<ul class="list-group" id="LM">
    <li class="list-group-item">
        <a>Dashbaord</a>
    </li>
    <li class="list-group-item">
        <a href="/Category/Create"><i class="fa fa-plus"></i> New Category</a>
    </li>
    <li class="list-group-item">
        <a href="/Category/AllCategories"><i class="fa fa-search"></i> All Categories</a>
    </li>
    <li class="list-group-item">
        <a href="/Product/Create"><i class="fa fa-plus"></i> New Product</a>
    </li>
    <li class="list-group-item">
        <a href="/Product/AllProducts"><i class="fa fa-search"></i> All Products</a>
    </li>
    <li class="list-group-item">
        <a>Logout</a>
    </li>
</ul>