@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

    <h1 class="text-danger">UnAuthroized Access</h1>
<h2 class="text-danger">Sory, you don't have access to this page, please contact your administrator.</h2>
